<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <h1>Congratulations <strong>{{username}}</strong>!</h1>
    <h3>We are glad to inform you that you have successfully
        registered an account with Avengers.
        Please click the below link to activate your account:</h3>
    <br>
    <a href="http://localhost:3030/user/verify_email/{{userId}}/{{token}}"><button>Verify Your Account</button></a>
</body>

</html>