/* https://github.com/MyNameIsURL/react-form-validation-tutorial/blob/master/src/App.css */

.App {
  font-family: sans-serif;
}

h2 {
    text-align: center;
    font-family: sans-serif;
  }
  
  form {
    max-width: 500px;
    width: 100%;
    margin: 0 auto;
  }
  
  button,
  .btn-prev {
    border: 1px solid#33a8ff;
    background: #33a8ff;
  }

  .btn-next {

    color: #33a8ff;
  }
