/* https://github.com/MyNameIsURL/react-form-validation-tutorial/blob/master/src/App.css */

h4 {
    text-align: center;
    font-family: sans-serif;
  }
  
  form {
    max-width: 500px;
    width: 100%;
    margin: 0 auto;
  }
  